eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.uuid}

management:
  endpoints: 
    web:
      exposure:
        include: health,info,refresh

  tracing:
    sampling:
      probability: ${TRACING_PROBABILITY:1.0}

  otlp:
    tracing:
      enabled: ${OTLP_ENABLED:true}
      endpoint: ${OTLP_ENDPOINT:http://localhost:4318/v1/traces}

